/* FONT */
@import url("https://fonts.googleapis.com/css?family=Epilogue:400,700,500,600");

/* VARIABLES */
:root {

    /* Font variable */
    --font-primary: "Epilogue", Helvetica;

    /* text color variable */
    --color-heavy-metal: #2D2D2D;
    --color-white: #ffffff;

    /* backgrounds colors variables */
    --background-color-white: #ffffff;
    --background-color-quarter-pearl-lustra: #FFFCF5;
    --background-color-concrete: #F3F3F3;


    /* borders colors variables */
    --border-color-black: rgba(0, 0, 0, 0.2);
    --border-color-grandis: #FFD285;
    --border-color-iron: #D8D8D8;
}

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family: var(--font-primary);
    text-decoration: none;
    outline: none;
}

/* DESCRIPTIONS STYLES */
.description__17 {
    color: var(--color-heavy-metal);
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 27px;
}

.description__20 {
    color: var(--color-heavy-metal);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
}

/* TITLES STYLES */
.title__27 {
    color: var(--color-heavy-metal);
    font-size: 1.688rem;
    font-weight: 600;
    line-height: 42px;
}

.title__32 {
    color: var(--color-heavy-metal);
    font-size: 2rem;
    font-weight: 600;
    line-height: 42px;
}

.title__80 {
    color: var(--color-heavy-metal);
    font-size: 5rem;
    font-weight: 600;
    line-height: 90px;
}

/* TITLES RESPONSIVE */
@media screen and (max-width: 1279px) {
    .title__80 {
        font-size: 4.063rem;
        line-height: 66.63px;
    }
}
