<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../../style/layout/navigation.css">
    <link rel="stylesheet" href="../../style/layout/footer.css">
    <link rel="stylesheet" href="../../style/pages/about.css">
    <title>About</title>
</head>
<body>
<!-- NAVIGATION -->
<nav class="navigation">
    <a href="index.html" class="logo">Logo</a>
    <div class="navigation__links">
        <a href="about.html" class="navigation__links__link">About</a>
        <a href="#" class="navigation__links__link">Work</a>
        <a href="#" class="navigation__links__link">Contact</a>
    </div>
    <img src="../assets/svg/navigation.svg" alt="icon menu mobile" class="navigation__mobile__menu">
</nav>

<!-- HEADER SECTION -->
<div class="header__about">
    <div class="header__about__card">
        <div class="header__about__card__img">
            <img class="header__about__card__media" src="../assets/img/about/about.jpg" alt="Pablo Designero">
            <div class="header__about__card__texts">
                <div class="description__bold__outline__17">Pablo Designero</div>
                <div class="description__17">Designer & Unicorn Trainer</div>
            </div>
        </div>
        <div class="header__about__bio">
            <p class="description__bold__17">Bio:</p>
            <p class="description__17">Father of 3 humans, 5 unicorns & 2 dogs,I design since I can remember it. I often get asked where I get my inspiration from: in everyday’s lil’ details. And sometimes in leftover food I find in my beard.</p>
        </div>
    </div>
</div>

<!-- BODY SECTION -->
<div class="body__about">
    <div class="body__about__wrapper">
            <p class="description__bold__24">When I was 5, I got adbucted by a unicorn family. When they returned me to earth, I joined a designer school. But, fo’ real, what I learned with my kidnaptive family really gave an edge to my creative language.</p>
        <div class="body__about__fancy-text">
            <div class="body__about__fancy-text-green">
                <p class="description__bold__16">Being a human is way too complicated. Time to be a unicorn.</p>
            </div>
            <div class="padding" style="padding: 5px 0"><p class="description__16">Try it and you’ll see. Then your Figma files are just gonna fly in color, glitter, interactions and autolayout.</p></div>
            <div class="body__about__fancy-text-green">
                <p class="description__bold__16">Also, grow a beard. Check my bio if that is not clear.</p>
            </div>
            <div class="padding" style="padding: 5px 0"><p class="description__16">Available for projects, from Monday to Tuesday, mainy between 14 and 16. (Unless there is a unicorn race on TV - DUH -in that case, come back another day).<br>Projects include, RocknRoll covers, furniture refurbishing, Unicorn potty training and more.</p></div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="footer">
    <div class="footer__wrapper">
        <div class="footer__content">
            <div class="footer__contact">
                <div class="footer__contact__text">
                    <h1 class="title__32" id="footer__contact__text__title">Let's work together</h1>
                    <p class="description__17">This is a template Figma file, turned into code using Anima. Learn more at AnimaApp.com This is a template Figma file, turned into code using Anima. Learn more at AnimaApp.com</p>
                </div>
                <div class="footer__contact__icons">
                    <a href="#">
                        <img id="icons__discord" src="../assets/svg/footer/discord.svg" alt="Discord's icon">
                    </a>
                    <a href="#">
                        <img id="icons__facebook" src="../assets/svg/footer/facebook.svg" alt="Facebook's icon">
                    </a>
                    <a href="#">
                        <img id="icons__dribble" src="../assets/svg/footer/dribble.svg" alt="Dribble's icon">
                    </a>
                    <a href="#">
                        <img id="icons__instagram" src="../assets/svg/footer/instagram.svg" alt="Instagram's icon">
                    </a>
                    <a href="#">
                        <img id="icons__behance" src="../assets/svg/footer/behance.svg" alt="Behance's icon">
                    </a>
                </div>
            </div>

            <div class="footer__fields">
                <div class="footer__textarea">
                    <div class="footer__inputs">
                        <input type="text" id="name" name="name" placeholder="Name" class="footer__input description__17">
                    </div>
                    <div class="footer__inputs">
                        <input type="text" id="mail" name="mail" placeholder="Email" class="footer__input description__17">
                    </div>
                    <div class="footer__inputs">
                        <textarea id="textarea" name="textarea" placeholder="Type your message here" class="footer__textarea description__17"></textarea>
                    </div>
                </div>
                <div class="footer__button">
                    <a href="#" class="description__20">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
