/* FOOTER */
.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 100px 70px;
}

.footer__wrapper {
    border-color: var(--border-color-black);
    border-top-style: solid;
    border-top-width: 2px;
    padding: 70px 0 0;
}

.footer__content {
    display: flex;
    gap: 190px;
}

/* FOOTER LEFT SIDE */
.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 360px;
}

.footer__contact__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__contact__icons {
    height: 36px;
    width: 232px;
    position: relative;
}

/* icons */
.footer__contact__icons a img {
    cursor: pointer;
    height: 36px;
    position: absolute;
    width: 36px;
}

#icons__discord {
    left: calc(50% - 116px);
    top: calc(50% - 18px);
}

#icons__facebook {
    left: calc(50% - 67px);
    top: calc(50% - 18px);
}

#icons__dribble {
    left: calc(50% - 18px);
    top: calc(50% - 18px);
}

#icons__instagram {
    left: calc(50% + 31px);
    top: calc(50% - 18px);
}

#icons__behance {
    left: calc(50% + 80px);
    top: calc(50% - 18px);
}

/* FOOTER RIGHT SIDE */
.footer__fields {
    display: flex;
    flex-direction: column;
    height: 529px;
}

.footer__textarea {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    border: 0;
    flex: 1;
    height: 189px;
    padding: 0;
    resize: none;
}

.footer__inputs {
    background-color: var(--background-color-concrete);
    display: flex;
    padding: 21px 30px;
    width: 530px;
}

.footer__input {
    border: 0;
    flex: 1;
    background-color: transparent;
    padding: 0;
}

.footer__button {
    background-color: var(--color-heavy-metal);
    padding: 25px 82px;
    width: fit-content;
}

.footer__button a {
    color: var(--color-white);
}

/* FOOTER RESPONSIVE */
@media screen and (max-width: 1279px) {
    .footer {
        align-self: stretch;
        padding: 0px 30px 70px;
        position: relative;
    }

    .footer__content {
        flex-direction: column;
        gap: 80px;
        width: 315px;
    }

    .footer__contact__text {
        width: 315px;
    }

    #footer__contact__text__title {
        width: 180px;
    }

    .footer__fields {
        width: 315px;
    }

    .footer__textarea {
        flex-direction: column;
        height: auto;
        min-width: 0;
    }

    .footer__inputs {
        width: 315px;
    }

    .footer__inputs:last-child {
        height: 230px;
        min-width: 0;
    }

    .footer__inputs input {
        min-width: 0;
    }
}
