/* NAVIGATION */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.625rem 3.125rem;
    min-width: 375px;
    height: 80px;
}

/* Logo */
.logo {
    font-size: 1.25rem;
    font-weight: 600;
}

/* Links */
.navigation__links {
    display: flex;
}

.navigation__links__link {
    color: var(--color-heavy-metal);
    font-size: 1.063rem;
    font-weight: 400;
    margin-left: 3.125rem;
}

/* NAVIGATION RESPONSIVE */
@media screen and (min-width: 1280px) {
    .navigation__mobile__menu {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .navigation {
        height: 80px;
    }

    .navigation__links {
        display: none;
    }

    .navigation__mobile__menu {
        display: block;
    }
}

