/* HERO SECTION */
.hero {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 6.25rem;
    position: relative;
}

.hero__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    height: auto;
    position: relative;
    width: 67.5rem;
}

.hero__texts {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 317px;
    position: relative;
    width: fit-content;
}

/* HERO SECTION RESPONSIVE */
@media screen and (max-width: 1279px) {
    .hero {
        padding: 50px 30px 60px;
    }

    .hero__wrapper {
        flex-direction: column;
        gap: 60px;
        width: 315px;
    }

    .hero__texts {
        gap: 20px;
        height: auto;
        position: relative;
        width: 315px;
    }

    .hero__texts h1 {
        text-align: center;
    }

    .hero__texts p {
        width: 315px;
        text-align: center;
    }

    .hero__media video {
        height: 270px;
        width: 315px;
        overflow: hidden;
        position: relative;
    }
}


/* LOGOS SECTION */
.logos {
    align-items: center;
    display: flex;
    gap: 10px;
    height: auto;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 0 66px;
    position: relative;
}

.logos__wrapper {
    align-self: stretch;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: var(--border-color-black);
    border-top-style: solid;
    border-top-width: 2px;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    position: relative;
    width: 1078px;
}

/* LOGOS SECTION RESPONSIVE */
@media screen and (max-width: 1279px) {
    .logos {
        height: 354.82781982421875px;
    }

    .logos__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(3, 100px);
        justify-items: center;
        align-items: center;
        width: 242px;
    }

    .logo-behance {
        order: 2;
        transform: translateX(18px) translateY(-37px);
    }

    .logo-google {
        order: 1;
        transform: translateX(10px) translateY(-37px);
    }

    .logo-apple {
        order: 4;
        transform: translateX(30px) translateY(-37px);
    }

    .logo-dribble {
        order: 3;
        transform: translateX(20px) translateY(-37px);
    }

    .logo-awwwards {
        order: 5;
        transform: translateX(75px) translateY(-37px);
    }
}


/* SKILLS SECTION */
.skills {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 688px;
    justify-content: center;
    padding: 180px 140px;
    position: relative;
}

.skills__wrapper {
    display: flex;
    flex-direction: row;
    gap: 125px;
    height: 328px;
    position: relative;
    width: 999.7px;
}

.skills__skill {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 328px;
    pointer-events: auto;
    position: relative;
    transition: all 0.2s ease;
    width: 249.9px;
    text-align: center;
}

.skills__skill:hover {
    transform: translate(0, -5px);
}

.skills__skill img {
    height: 130px;
    margin-bottom: 56px;
}

.skills__skill p {
    margin-top: 19px;
}

/* SKILLS SECTION RESPONSIVE */
@media screen and (max-width: 1279px) {
    .skills {
        gap: 10px;
        height: 1535px;
        justify-content: center;
        padding: 150px 62px;
    }

    .skills__wrapper {
        flex-direction: column;
        height: 1334px;
        width: fit-content;
    }
}


/* LATEST WORK SECTION */
.latest-work {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: auto;
    padding: 20px 100px;
    position: relative;
}

.latest-work__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: auto;
    position: relative;
    width: fit-content;
}

.latest-work__row {
    display: flex;
    gap: 67.5px;
    height: auto;
    position: relative;
    width: fit-content;
}

.latest-work__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: auto;
    pointer-events: auto;
    position: relative;
    transition: all 0.2s ease;
    width: fit-content;
}

.latest-work__card:hover {
    transform: scale(0.9);
}

.latest-work__card__media {
    height: 315px;
    min-width: 315px;
    position: relative;
    object-fit: cover;
}

.latest-work__card__texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    position: relative;
    width: 315px;
}

/* LATEST WORK RESPONSIVE */
@media screen and (max-width: 1279px) {
    .latest-work {
        height: 2924px;
    }

    .latest-work__wrapper {
        height: 2742px;
    }

    .latest-work__row {
        display: none;
    }

    .latest-work__row--new {
        gap: 60px;
        display: flex;
        flex-direction: column;
    }
}


/* CLIENTS SECTION */
.clients {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding: 100px 100px 150px;
    position: relative;
}

.clients__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 55px;
    height: auto;
    position: relative;
    width: fit-content;
}

.clients__cards {
    display: flex;
    gap: 67.5px;
    height: auto;
    position: relative;
    width: fit-content;
}

.clients__card {
    display: flex;
    gap: 67.5px;
    height: auto;
    position: relative;
    width: fit-content;
}

.clients__card__wrapper {
    background-color: var(--background-color-quarter-pearl-lustra);
    border: 1.5px solid;
    border-color: var(--border-color-grandis);
    display: flex;
    gap: 10px;
    height: 344px;
    padding: 30px 50px 30px 30px;
    position: relative;
    width: 315px;
}

.clients__card__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-right: -28px;
    position: relative;
    width: fit-content;
}

.clients__description {
    width: 263px;
}

.clients__card__rate {
    display: flex;
    gap: 20px;
    height: auto;
    position: relative;
    width: fit-content;
}

.clients__card__author__media {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    border: 1px solid;
    border-color: var(--border-color-iron);
    border-radius: 100px;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    position: relative;
}

.clients__card__author__rate {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    width: fit-content;
}

.clients__card__author__rate__stars {
    display: flex;
    gap: 5px;
    height: auto;
    position: relative;
    width: fit-content;
}

.description__author {
    margin-top: 10px;
}

.author__1 {
    background-image: url("../../public/assets/img/clients/client_1.jpg");
}

.author__2 {
    background-image: url("../../public/assets/img/clients/client_2.jpg");
}

.author__3 {
    background-image: url("../../public/assets/img/clients/client_3.jpg");
}

/* CLIENTS SECTION RESPONSIVE */
@media screen and (max-width: 1279px) {
    .clients {
        align-self: stretch;
        justify-content: center;
        padding: 60px 30px 90px;
    }

    .clients__wrapper {
        gap: 40px;
    }

    .clients__cards {
        flex-direction: column;
        gap: 60px;
    }
}
